<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rethouse - Real Estate HTML Template">
    <meta name="keywords" content="Real Estate, Property, Directory Listing, Marketing, Agency" />
    <meta name="author" content="mardianto - retenvi.com">
    <title>Rethouse - Real Estate HTML Template</title>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link rel="manifest" href="site.webmanifest">
    <!-- favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="icon.png">
    <meta name="theme-color" content="#3454d1">
    <link href="./css/styles.css?8918068d71def746395d" rel="stylesheet">
</head>

<body>


    <!-- Home page demo -->
    <section class="first">
        <div class="bg-overlay-demo"></div>
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col col-md-12 col-lg-11 mx-auto">
                    <div class="wrap-text text-center">
                        <figure>
                            <img src="images/logo-blue-stiky.png" alt="">
                        </figure>
                        <h2 class="text-uppercase"> <b class="text-primary ">28+</b> real estate html template<br>
                        </h2>
                        <p> rethouse is premium html design bootstrap 4 template, We bring you the best
                            Premium Themes
                            that perfect for Real Estate Business, Agency property, Listing Directory & related websites
                            etc.
                        </p>


                        <a href="https://themeforest.net/item/rethouse-real-estate-html-template/27090800"
                            class="btn btn-primary " target="_blank">
                            <i class="fa fa-shopping-cart"></i>
                            PURCHASE NOW
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home page demo -->
    <section class="wrap__section pb-0">
        <div class="title-demo">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col col-md-7 ">
                        <div class="text-center">
                            <h3>Ready To Use Demos</h3>
                            <p>Choose a homepage to start. An awesome collection of beautiful HTML
                                templates for your next great website.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Home page Preview demo -->
    <section id="demo" class="preview__image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/homepage-v1' target='_blank'>
                            <img src="images/property.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>home style 1</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/homepage-v2' target='_blank'>
                            <img src="images/property2.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>home style 2</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/homepage-v3' target='_blank'>
                            <img src="images/property3.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>home style 3</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/homepage-v4' target='_blank'>
                            <img src="images/property4.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>home style 4</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/homepage-v5' target='_blank'>
                            <img src="images/property5.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>home style 5</h4>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/listing-style-v1' target='_blank'>
                            <img src="images/property6.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>Property Listing</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/listing-style-v5' target='_blank'>
                            <img src="images/property7.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>Property Listing 5</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/single-detail-v1' target='_blank'>
                            <img src="images/property8.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>Property Single Detail </h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="preview__image-thumb">
                        <a href='/blog-single' target='_blank'>
                            <img src="images/property9.jpg" alt="" class="img-fluid">
                            <span>view demo</span>
                        </a>
                    </div>
                    <div class="demo-title text-center">
                        <h4>News Detail</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Home page preview demo -->

    <!-- Home page star demo -->
    <section class="wrap__section p-0">
        <div class="title-demo">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col col-md-7 ">
                        <div class="text-center mb-3">
                            <i class="fa fa-star fa-3x text-warning"></i>
                            <i class="fa fa-star fa-3x text-warning"></i>
                            <i class="fa fa-star fa-3x text-warning"></i>
                            <i class="fa fa-star fa-3x text-warning"></i>
                            <i class="fa fa-star fa-3x text-warning"></i>

                        </div>
                        <div class="text-center mt-2">
                            <h2>Plase 5 Star for Support and Thank you for purchase</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home page star demo -->

    <!-- Home page feature demo -->
    <section>
        <div class="container mt60">
            <div class="row">
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/bootstrap.png" alt="">
                            </figure>
                            <h6>Bootstrap V4</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/html5.png" alt="">
                            </figure>
                            <h6>Html5</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/css3.png" alt="">
                            </figure>
                            <h6>Css3</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/sass.png" alt="">
                            </figure>
                            <h6>Sass</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/jquery.png" alt="">
                            </figure>
                            <h6>Jquery</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/owl-logo.png" alt="">
                            </figure>
                            <h6>Owl Carousel</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/google-font.png" alt="">
                            </figure>
                            <h6>Google Fonts</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/w3c-validation.png" alt="">
                            </figure>
                            <h6>W3 Validation</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/responsive.png" alt="">
                            </figure>
                            <h6>Responsive Website</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/fontaweseome.png" alt="">
                            </figure>
                            <h6>Font Awesome</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure>
                                <img src="images/nodejs.png" alt="">
                            </figure>
                            <h6>Node js</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg__card-shadow-two border-0 mb-4">
                        <div class="card-body text-center">
                            <figure class="pt-3">
                                <img src="images/webpack.png" alt="">
                            </figure>
                            <h6>webpack</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End Home page feature demo -->

    <!-- footer demo -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col col-md-9">
                        <h1>Feeling in love? Purchase rethouse</h1>
                        <p class="text-capitalize">
                            rethouse is premium html design bootstrap 4 template, We bring you the best
                            Premium Themes
                            that perfect for Real Estate Business, Agency property, Listing Directory & related websites
                            etc.
                        </p>
                        <a href="https://themeforest.net/item/rethouse-real-estate-html-template/27090800"
                            class="btn btn-primary text-uppercase"><i class="fa fa-shopping-cart"></i> purchase
                            now</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer demo -->


    <!-- SCROLL TO TOP -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TO TOP -->
    <script src="./js/index.bundle.js?8918068d71def746395d"></script>
</body>

</html>